
.poems

  .bookContainer
    display flex
    // margin-top 3.6rem
    background-color white
    height 95vh
    width 115vh
    margin 0 auto
    
  .part
    margin-left 3.6rem
    width 45vw

  .container
    margin-bottom 18rem

  .poemContainer
    display flex
    flex-wrap wrap

  .heading
    font-size 16px
    font-style italic
    // margin 3.6rem 0 1.8rem 0
    margin 1.8rem 0

  img
    max-width 64rem
    object-fit contain
    margin-right 2.4rem

    height 6.4rem // point size
    margin-bottom 1.28rem // leading

  // https://tobiasahlin.com/blog/flexbox-break-to-new-row/ 
  .break
    flex-basis 100%
    height 0